/* style for the content container */
#content_Rand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 2rem;
    text-align: center;
  }
  
  /* style for the header */
  h2 {
    margin: 40px;
    font-family: 'Palatino', Georgia, 'Times New Roman';
    font-size: 50px;
    font-weight: 600;
    text-align: center;
  }
  
  /* style for the button */
  #yes_bt {
    font-size: 1.5rem;
    background-color: #3498DB;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
  }
  #yes_bt:hover{
    background-color: gray;
  }  
  #yes_bt:not(:hover){
    background-color: #3498DB;
  }  
  #yes_bt:focus{
    background-color: gray;
  }  
  #yes_bt:not(:focus){
    background-color: #3498DB;
  } 
  /* style for the image */
  #hipster, #shake_head{
    display:none;
  }
  .img_rd {
    width: 100%;
    max-width: 600px;
    margin-top: 2rem;
  }
  
  /* style for the dynamically generated facts */
  p {
    border: solid black 2px;
    padding: 5px;
    font-family: 'Palatino', Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    line-height: 1.5;
    margin-top: 1rem;
    text-align: left;
    color: #333;
  }
  